.formas-turquesa {
  color: #00bfc5 !important;
}
.formas-turquesa-bg {
  background-color: #00bfc5 !important;
  color: #fff !important;
}
.formas-turquesa-border {
  border-color: #00bfc5 !important;
}
.formas-turquesa-outline {
  outline-color: #00bfc5 !important;
}
